In [13]:
import pandas as pd

df = pd.read_csv (r"C:\Users\Junaid\Desktop\python_with_junaid\our_data_chilla\Chilla_data.csv")
df.head()

,Gender,Location,Age,Qualification_completed,field_of_study,Purpose_for_chilla,What are you?,Blood group,Which mobile sim do you use,Prepaid or Postpaid,...,Your favorite programming language?,Marital Status?,Are you Vaccinated?,Where do you live?,Research/Working experience (Float/Int) years,Age (years)-Float/Int,Your Weight in kg? (float),Height in cm? Freelancer- (Float),"How many hours you code a day? (int) e.g: 5,4,3",Light kitni der band hti hy? int
0,Male,Pakistan,36-40,Masters,Natural Sciences,to boost my skill set,Unemplyed,B+,U-fone,Prepaid,...,Python,Yes,Yes,Urbun,5.0,38.00,77.0,179.000,3.0,2
1,Male,Pakistan,26-30,Bachelors,CS/IT,to boost my skill set,Student,B+,U-fone,Prepaid,...,Python,No,Yes,Urbun,1.0,25.00,53.6,178.000,2.0,6
2,Male,Pakistan,31-35,Masters,Enginnering,Switch my field of study,Employed,B+,Zong,Prepaid,...,Python,Yes,Yes,Urbun,5.5,31.34,93.0,173.000,2.0,0
3,Female,Pakistan,31-35,Masters,CS/IT,to boost my skill set,Employed,O+,U-fone,Postpaid,...,Python,Yes,Yes,Urbun,5.0,33.00,60.0,157.000,3.0,24
4,Female,Pakistan,26-30,Masters,Enginnering,to boost my skill set,Student,A-,Mobilink,Prepaid,...,Javascript,No,Yes,Rural,3.5,27.00,59.9,164.544,6.0,12

In [12]:
import plotly.express as px
import pandas as pd
df = pd.read_csv (r"C:\Users\Junaid\Desktop\python_with_junaid\our_data_chilla\Chilla_data.csv")
fig = px.scatter(df, x="Age", y="Gender", color="Marital Status?", marginal_y="violin",
           marginal_x="box", trendline="ols", template="simple_white")
fig.show()

ValueError: Could not convert value of 'x' ('Age') into a numeric type. If 'x' contains stringified dates, please convert to a datetime column.