# - Indexing

In [1]:
# make and string
a= "samosa pakora"

In [2]:
a

'samosa pakora'

In [3]:
a[0]

's'

In [4]:
a[3]

'o'

In [5]:
# a[13] # 13 is index error

In [6]:
# length of indecies
len(a)

13

In [7]:
a[0:5]

'samos'

In [8]:
a[0:6]

'samosa'

In [9]:
# stare with zero "0" but excludes last "13"
a[0:13]

'samosa pakora'

In [10]:
a[-1]

'a'

In [11]:
a[-13]

's'

In [12]:
a[-6:-1]

'pakor'

In [13]:
a[-1:-7]

''

In [14]:
food = "biryani"
food

'biryani'

In [15]:
foods="pakora"
foods

'pakora'

In [16]:
foo="mango"
foo

'mango'

In [17]:
len(foods)

6

In [18]:
# we need to tap "TAB" after dot"." for more options and in last paranthesis "()"
## capitalize first letter

food.capitalize()

'Biryani'

In [19]:
# uppercase
food.upper()

'BIRYANI'

In [20]:
# replace
food.replace("b", "sh")

'shiryani'

In [21]:
# counting a speicific alphabet in string ( mostly used in bioinformatics)
name = "baba_G is Dr. Aammar Tufail"
name

'baba_G is Dr. Aammar Tufail'

In [22]:
name.count("a")

5

In [23]:
name.count("A")

1

### - Finding an index number in a string

In [24]:
name = "baba_G is Dr. Aammar Tufail"
name

'baba_G is Dr. Aammar Tufail'

In [25]:
name.find("T")

21

In [26]:
name.find("b")

0

In [27]:
name.find("Aa")

14

In [28]:
### How to Split a String
food = " i love fruits, chocolates, biscuits, mutton"
food

' i love fruits, chocolates, biscuits, mutton'

In [29]:
food.split(",") #at the basis of ","

[' i love fruits', ' chocolates', ' biscuits', ' mutton']

--- # the --- mean a straight line

---

## Basic data structure in python
### 1 - Tuple

### 2 - List

### 3 - Dictionaries

### 4 - Set

## 1- Tuple (RULEs)
- ordered collection of elements
- enclosed in () round braces / paranthesis
- different kind of elements can be stored
- once elements are stored you can not change them (unmutateable)

In [30]:
tup1= (2, "python", "true", 3.5)
tup1

(2, 'python', 'true', 3.5)

In [31]:
# type of tuple 
type(tup1)

tuple

In [32]:
### - indexing in tuple

In [33]:
tup1[1], tup1[2]

('python', 'true')

In [34]:
tup1[0]

2

In [35]:
# last element is exclusive
tup1[0:5]

(2, 'python', 'true', 3.5)

In [36]:
# counting of elements in tuple
len(tup1)

4

In [37]:
tup2= (5, "Junaid", 2.5, False)
tup2

(5, 'Junaid', 2.5, False)

In [38]:
# concatinatie (to add 2 or <2 tuple)
tup1+tup2

(2, 'python', 'true', 3.5, 5, 'Junaid', 2.5, False)

In [39]:
# concatinate + repeat
tup1*2 + tup2

(2, 'python', 'true', 3.5, 2, 'python', 'true', 3.5, 5, 'Junaid', 2.5, False)

In [40]:
# same way we can addition, substract, multiplication etc

In [41]:
tup3= (20, 30, 60, 50, 80)
tup3

(20, 30, 60, 50, 80)

In [42]:
# minimum
min(tup3)

20

In [43]:
# maximum
max(tup3)

80

In [44]:
tup3*2
# repetition, 
## but why it doesnot have multiplication this? assignment

(20, 30, 60, 50, 80, 20, 30, 60, 50, 80)

In [45]:
# tup3 after . how many function must check it is assignment

---

# mark down language , it is very interesting

## List
- ordered collection of elements
- enclosed in [] square brackets/braces
- mutateable , we can change value

In [46]:
list1 = [1, "obaid", False]
list1

[1, 'obaid', False]

In [47]:
type(list1)

list

In [48]:
len(list1)

3

In [49]:
list2 = [3, 5, "junaid", "obaid", 450, 30.5, True]
list2

[3, 5, 'junaid', 'obaid', 450, 30.5, True]

In [50]:
list1 + list2

[1, 'obaid', False, 3, 5, 'junaid', 'obaid', 450, 30.5, True]

In [51]:
list1.append("codanic youtube")
list1
# use all option to check, what work we should do with in list ? assignment

[1, 'obaid', False, 'codanic youtube']

In [53]:
# list1.count()
# list1

In [54]:
list3=[20,30,60,5,15,555, 12.3, 34.5, 67.8]
list3

[20, 30, 60, 5, 15, 555, 12.3, 34.5, 67.8]

In [55]:
len(list3)

9

In [56]:
# sorting
list3.sort
list3

[20, 30, 60, 5, 15, 555, 12.3, 34.5, 67.8]

In [57]:
# repeatinig
list3*2

[20,
 30,
 60,
 5,
 15,
 555,
 12.3,
 34.5,
 67.8,
 20,
 30,
 60,
 5,
 15,
 555,
 12.3,
 34.5,
 67.8]

In [58]:
# concaticate
list1+list2

[1,
 'obaid',
 False,
 'codanic youtube',
 3,
 5,
 'junaid',
 'obaid',
 450,
 30.5,
 True]

In [59]:
# combine lists with previous list
lists= list1+list2+list3
lists

[1,
 'obaid',
 False,
 'codanic youtube',
 3,
 5,
 'junaid',
 'obaid',
 450,
 30.5,
 True,
 20,
 30,
 60,
 5,
 15,
 555,
 12.3,
 34.5,
 67.8]

### Dictonaries
- collection of elements of unordered/ unordered collection of elements
- key and value
- curly braces or brackets {}
- mutateable/changeable

In [60]:
# food and their prices
food1= {"samosa":30, "pakora":100, "Raita":20, "salad":50, "Chiken role": 30} 
# *"samosa" is key and "30" is value.
food1

{'samosa': 30, 'pakora': 100, 'Raita': 20, 'salad': 50, 'Chiken role': 30}

In [61]:
type(food1)

dict

In [62]:
# extract data
keys1= food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'Raita', 'salad', 'Chiken role'])

In [63]:
values1= food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [64]:
# adding new element
food1["Tikki"]= 10
food1

{'samosa': 30,
 'pakora': 100,
 'Raita': 20,
 'salad': 50,
 'Chiken role': 30,
 'Tikki': 10}

In [65]:
#  update the value
food1["Tikki"]=15
food1

{'samosa': 30,
 'pakora': 100,
 'Raita': 20,
 'salad': 50,
 'Chiken role': 30,
 'Tikki': 15}

In [66]:
food2 = {"Dates":50, "Chocolates":200, "Sawiyan":1000}
food2

{'Dates': 50, 'Chocolates': 200, 'Sawiyan': 1000}

In [67]:
# contatinate
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 100,
 'Raita': 20,
 'salad': 50,
 'Chiken role': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Sawiyan': 1000}

## 4- Sets
- Unordered and unindexed
- curly braces {}
- no duplicate allowed

In [79]:
s1= {1, 2.2, 5.2, "Junaid", "obaid", "codanics"}
s1

{1, 2.2, 5.2, 'Junaid', 'codanics', 'obaid'}

In [80]:
s1.add("youtube")
s1
#*note: boolian operators cant be added in this i.e False, True; can add strings, integer, float number, duplicate cannt be added

{1, 2.2, 5.2, 'Junaid', 'codanics', 'obaid', 'youtube'}

In [81]:
s1.remove("obaid")
s1

{1, 2.2, 5.2, 'Junaid', 'codanics', 'youtube'}

# tuple, ,list , dictionaries and sets after "." all functions must have to try it is assignment